{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette{% endblock %}

{% block body %}
    <section class="container">
        <h1>Ajouter une nouvelle recette</h1>
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.image) }}
            {{ form_row(form.temps) }}
            {{ form_row(form.categorie) }}

            {{ form_row(form.tags) }}
            {{ form_row(form.saison) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
