{% extends 'base.html.twig' %}

{% block title %}Les ingrédients de la recette{% endblock %}
{% block body %}
<section class="container mt-3">
{% for rec in recette %}
    <h3 class='text-center'>Ingrédients pour : {{ rec.nom }}</h3>
  {% endfor %}
  {{ form_start(formulaire)}}
    {{ form_widget(formulaire)}}
    <button type="button" class="buttonA" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Créer un ingrédient</button>
      
       
    {{ form_end(formulaire)}}
    <a href="/add/recettes/ustensiles"><button type="submit" class="buttonB">Ajouter des ustensiles</button></a>
  {% for ing in ingredient %}
      <div>
          {{ing.quantite}}
          {{ing.unite.nom}}
          {{ing.ingredient.nom}}
          <img src="/uploads/{{ing.ingredient.thumbnail}}" alt="{{ing.ingredient.nom}}" style="width:5em"><br>
      </div>
  {% endfor %} 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un ingrédient</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {{form_start(form)}}
          {{form_widget(form)}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          {{form_end(form)}}
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
