{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    {{ form(formulaire)}}

    {% for ust in ustensile %}
        {{ust.nom}}
    {% endfor %}
     <button type="button" class="buttonA" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Créer un ustensile</button>
    <a href="etape"><button class="buttonA">>Ajouter les étapes</button></a>

</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un ingrédient</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {{form_start(form)}}
          {{form_widget(form)}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          {{form_end(form)}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}