{% extends 'base.html.twig' %}

{% block title %}Mon profil Bistroquet{% endblock %}

{% block body %}

    <div class="container">


        <h1>Bonjour ! </h1>        <div>
            <h2>Mes recettes</h2>
            <table>
                {% for recette in recettesAjoutees %}
                    <tr>
                        <td><a href="{{ path('app_recettes_show', {'id': recette.id}) }}">{{ recette.nom }}</a></td>
                        <td><img src="{{ asset('uploads/' ~ recette.image) }}" alt="{{ recette.nom }}" class="width50"></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Vous n'avez pas encore ajouté de recettes.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h2>Mes recettes favorites</h2>
            <table>

                {% for favori in favoris %}
                    <tr>
                        <td><a href="{{ path('app_recettes_show', {'id': favori.recette.id}) }}">{{ favori.recette.nom }}</a></td>
                        <td><img src="{{ asset('uploads/' ~ favori.recette.image) }}" alt="{{ favori.recette.nom }}" class="width50"></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Vous n'avez pas encore ajouté de recettes dans vos favoris.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
