    {% block navbar %}
    <nav class="navbar" id="navbar" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>


            <a class="navbar-brand" href="/"><svg width="250" height="100" id="logo" viewBox="0 0 132.292 52.917" xmlns="http://www.w3.org/2000/svg"><path d="M21.61 38.656c-.141-.248-.784-1.805-2.208-5.268-.775-.078-3.824.345-3.874-.49.179-.704 2.17-.452 2.818-.452.82-2.146 2.463-3.63 4.607-4.317.61-.165.807-.286 1.244-.762 1.761-1.913 4.277-2.311 6.885-1.09.587.275.796.305 2.282.332 2.17.038 3.027.28 4.59 1.293.957.62 2.491 2.318 3.227 3.573l.57.971c.927.122 2.577-.201 3.415.103.178.207.096.53.07.78l-3.771.118c-.788 1.752-1.39 3.596-2.224 5.327zm18.93-5.187c0-.044-4.535-.08-10.079-.08-5.705 0-10.078.044-10.078.102 0 .152 1.131 2.822 1.59 3.988l.196.5h16.547c.57-1.516 1.308-2.972 1.824-4.51zM25.343 30.5c1.287.141 2.84.647 4.169 1.357.966.517 1.439.603 3.087.566l1.504-.035-1.98-1.197c-3.096-1.874-4.722-2.445-6.938-2.437-3.871.013-5.204 2.11-5.977 3.693l.93-.002.93-.002c1.05-1.379 2.57-2.044 4.275-1.943zm2.966 1.754c-1.631-.794-4.113-1.06-5.108-.547-.393.185-.728.455-1.053.74l3.26-.01c2.974-.008 3.228-.024 2.9-.183zm6.69-2c-.55-.165-1.92-.197-2.373-.056-.376.073 2.438 2.244 4.431 2.242h.897c-.83-.952-1.747-1.789-2.955-2.187Zm.968-2.371c-2.751-1.047-6.725.439-6.716.655.637.443 1.374.75 2.07 1.09 1.327-.462 2.747-.555 4.1-.15 1.554.472 2.56 1.762 3.589 2.952l1.765.017c-1.096-2.025-2.716-3.663-4.808-4.564zm-5.418-.906c-.752-.333-1.538-.445-2.357-.457-1.285-.119-2.271.496-3.219 1.277.993.034 1.96.17 2.923.4a31.725 31.725 0 0 1 2.653-1.22zm-3.39-3.147c-.185-.206-.16-.354.14-.806.742-1.123.447-1.93-.211-2.954-1.837-2.777.188-4.232.363-4.203.45.074.482.354.106.95a2.39 2.39 0 0 0-.393 1.112c-.133 1.56 1.785 2.027 1.343 4.227-.261 1.3-.935 2.136-1.349 1.674zm3.05-.632c.22-.152.512-1.053.514-1.593.006-1.4-1.25-1.567-1.35-3.33-.068-1.198.558-2.502 1.156-2.407.35.055.366.394.045.911-.346.556-.504 1.15-.42 1.58.149.772 1.398 1.719 1.41 3.199.01 1.017-.618 2.413-1.083 2.413-.678 0-.306-.75-.273-.773zm2.935.585c-.117-.157-.11-.238.039-.5.685-1.202.747-1.91.237-2.705-.98-1.388-1.485-2.567-.574-4.217.226-.367.39-.513.572-.513.375 0 .518.375.275.723-.819 1.15-.597 2.035.154 3.054 1.701 2.261-.126 4.933-.703 4.158z" style="fill:#000;stroke-width:.111464"/><path style="font-size:13.1345px;line-height:1.1;font-family:'Libre Caslon Text';-inkscape-font-specification:'Libre Caslon Text, Normal';fill:#1a1a1a;stroke-width:5.91051;stroke-linecap:square;stroke-miterlimit:0;paint-order:markers stroke fill" d="M54.049 35.818q-1.011 0-1.813-.604h-.065l-.604.447h-.21v-9.707l-.96-.354v-.171l2.089-.644h.131v4.702q.828-.893 1.997-.893.853 0 1.51.42t1.025 1.183q.367.748.367 1.72 0 1.09-.46 1.984-.446.893-1.247 1.405-.788.512-1.76.512zm0-.446q.617 0 1.077-.381.473-.394.722-1.09.263-.697.263-1.616 0-1.392-.552-2.18-.538-.802-1.497-.802-.433 0-.814.184-.368.184-.63.5v3.73q0 .748.393 1.208.394.447 1.038.447zm5.254-9.076q0-.368.223-.605.236-.25.617-.25t.618.25q.236.237.236.605 0 .354-.236.604-.237.236-.618.236-.38 0-.617-.236-.223-.25-.223-.604zm2.456 9.39h-3.231v-.262l.998-.197v-5.464l-.972-.354v-.184l2.102-.63h.118v6.632l.985.197zm3.507-7.092q.446 0 .867.066.433.052.683.158v1.825h-.276q-.197-1.655-1.537-1.655-.525 0-.84.29-.303.288-.303.774 0 .368.184.63.197.25.473.42.276.172.762.395.604.276.959.512.368.237.63.657.263.407.263 1.024 0 .972-.657 1.55-.643.578-1.76.578-.42 0-.932-.079-.5-.078-.88-.21l-.08-2.128h.316q.092.999.512 1.51.42.513 1.17.513.59 0 .945-.328.355-.329.355-.88 0-.407-.197-.683-.197-.29-.486-.46-.29-.184-.815-.446-.59-.29-.945-.513-.355-.236-.605-.63t-.25-.972q0-.92.631-1.419.644-.499 1.813-.499zm5.227 7.224q-.63 0-1.024-.368-.237-.223-.342-.551-.092-.342-.092-.946v-4.768h-.853l-.027-.21 1.892-1.97.236.026v1.695h1.878l-.105.46h-1.773v4.649q0 .473.026.683.027.197.092.315.21.368.657.368.263 0 .526-.145.275-.144.472-.394l.224.171q-.302.46-.788.723-.473.262-.999.262zm6.292-7.237q.341 0 .578.25.25.236.25.578 0 .315-.224.538-.21.21-.539.21-.315 0-.499-.25-.118-.144-.21-.196-.079-.053-.197-.053-.157 0-.276.079-.118.066-.25.25-.223.302-.288.407-.066.105-.092.236v4.597l1.313.197v.263h-3.56v-.263l1-.197v-5.464l-.973-.368v-.17l2.036-.644h.131v1.432q.46-.696.92-1.064.473-.368.88-.368zm4.899.013q.972 0 1.76.473.801.46 1.248 1.287.446.828.446 1.852 0 1.025-.446 1.852-.447.828-1.248 1.3-.788.46-1.76.46t-1.773-.46q-.788-.472-1.235-1.3-.446-.827-.446-1.852 0-1.024.446-1.852.447-.827 1.235-1.287.801-.473 1.773-.473zm-2.062 3.612q0 1.419.538 2.22.552.801 1.51.801.973 0 1.524-.801.552-.814.552-2.233 0-1.405-.552-2.207-.538-.8-1.51-.8t-1.524.8q-.538.802-.538 2.22zm11.624 2.72q-.828.892-1.997.892-.853 0-1.51-.42t-1.025-1.17q-.367-.76-.367-1.733 0-1.182.433-2.062.434-.893 1.208-1.366.789-.473 1.826-.473 1.012 0 1.813.604h.065l.591-.446h.21v9.772l.986.197v.25h-3.533v-.25l1.3-.197Zm-1.432-5.911q-.945 0-1.51.8-.552.802-.552 2.312 0 1.393.539 2.194.551.788 1.51.788.433 0 .801-.184.381-.184.644-.5V30.67q0-.748-.394-1.195-.394-.46-1.038-.46zm11.243 6.002v.158l-1.97.643h-.092v-1.195l-.052-.013q-.473.578-1.09.893-.605.315-1.261.315-.526 0-.92-.21t-.578-.591q-.105-.236-.144-.604-.04-.368-.04-1.261v-3.967l-.985-.197v-.262h2.233v4.426q0 .617.026.946.04.328.132.525.105.223.341.355.25.13.578.13.46 0 .893-.235.434-.237.788-.683v-5.005l-.985-.197v-.262h2.233v5.976zm2.378-3.376q-.013.092-.013.303 0 1.444.577 2.18.578.735 1.695.735.643 0 1.195-.223.552-.236.893-.657l.158-.197.223.132-.079.184q-.341.8-1.103 1.26-.762.46-1.72.46-.933 0-1.656-.433-.709-.447-1.103-1.235-.394-.801-.394-1.839 0-1.09.434-1.93.446-.854 1.234-1.314.801-.473 1.839-.473 1.287 0 1.97.762.696.749.723 2.207l-.092.078zm2.062-2.64q-.867 0-1.392.591-.526.591-.644 1.682l3.428-.119q.04-.157.04-.538 0-1.616-1.432-1.616zm6.068 6.817q-.63 0-1.025-.368-.236-.223-.341-.551-.092-.342-.092-.946v-4.768h-.854l-.026-.21 1.891-1.97.237.026v1.695h1.878l-.105.46h-1.773v4.649q0 .473.026.683.026.197.092.315.21.368.657.368.262 0 .525-.145.276-.144.473-.394l.223.171q-.302.46-.788.723-.473.262-.998.262z" transform="scale(.98793 1.01222)" aria-label="bistroquet"/></svg>
            </a>

            <form role="search" id="searchNavbar">
                <input class="form-control mt-4" type="search" placeholder="Recherche" aria-label="Search">
            </form>
        </div>

        <div class="">
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="/admin" class="nav-link me-3" aria-current="page" style="color:white">Accès Admin</a>                           
            {% endif %}
            {% if app.user %}

                <div class="d-flex">
                    <a href="/profil"><p class="m-0 pe-3" style="color:black">{{app.user.pseudo}}</p></a>
                    <a href=/profil/#favoris"><i class="fa-regular fa-heart"></i></a>
                    <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="black" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg></a>
                </div>
            {% else %}
                    <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="black" class="bi bi-person-circle m-1" viewBox="0 0 16 16">

                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg></a>
                    <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="black" class="bi bi-file-plus m-1" viewBox="0 0 16 16">
                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                    </svg></a>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse" id="navbarsExample05" style="">
            <div class="d-flex justify-content-center flex-wrap container" id="navigationToggle">
                <div class="categorie me-auto mt-2" style="max-height:16em; overflow:hidden"><a href="/categorie"><h5>Catégories</h5></a>
                    {% for category in global_categories.getAllCategories %}
                        {% if category.nom == 'Saison' %}
                        {% else %}
                        <div>
                            <a href="/categorie/{{category.id}}" ><p class="me-5" style="text-transform:capitalize">{{category.nom}}</p></a>
                        </div>                       
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="saison me-auto mt-2" style="max-height:16em; overflow:hidden"><a href="/saison"><h5>Saisons</h5></a>
                    {% for sai in global_saisons.getAllSaisons %}
                        <div>
                            <a href="/saison/show/{{sai.id}}" ><p class="me-5">{{sai.nom}}</p></a>
                        </div>  
                    {% endfor %}
                </div>
                <div class="prix me-auto mt-2" style="max-height:16em; overflow:hidden"><a href="/recettes/price"><h5>Prix</h5></a>
                    {% for bud in global_budgets.getAllBudget %}
                        <div>
                            <a href="/recettes/price/{{bud.id}}"><p class="me-5">{{bud.nom}}</p></a>
                        </div>
                    {% endfor %}
                </div>

                <div class="ingredient mt-2 me-auto" style="max-height:16em; overflow:hidden"><a href="/ingredient"><h5>Ingredients</h5></a>

                    {% for ing in global_ingredients.getAllIngredients %}
                        <div>
                            <a href="/recettes/ingredient/{{ing.id}}" ><p class="me-5">{{ing.nom}}</p></a>
                        </div>
                    {% endfor %}
                </div>          
            </div>
            <form role="search" id="searchCollapse">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
  </nav>
  {% endblock %}