{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="text-center mt-3">Recettes par Catégories</h1>
        <div class="mt-5 d-flex justify-content-center flex-wrap">
        {% for cat in categorie %}
            {% if cat.nom == 'Saison' %}
                <a href="saison/" ><div class="m-2 text-center"style="text-transform:capitalize"><i class="{{cat.thumbnail}}"></i><p>{{cat.nom}}</p></div></a>
            {% else %}
                <a href="categorie/{{cat.id}}"><div class="m-2 text-center" style="text-transform:capitalize"><i class="{{cat.thumbnail}}"></i><p>{{cat.nom}}</p></div></a>
            {% endif %} 
        {% endfor %}
        </div>
{% endblock %}

